<header class="fixed-top">
  <app-header #head></app-header>
</header>

<main [ngClass]="{'close-aside': open}">
  <div (click)="head.toggle()" class="shadow position-fixed"></div>
  <aside>
    <div class="scroller">
      <app-nav></app-nav>
    </div>
  </aside>

  <div class="page">
    <div class="contents">
     <router-outlet></router-outlet>

    </div>
    <footer>
      <app-footer></app-footer>
    </footer>

  </div>
</main>
