<mat-card class="movie-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{movie.title}} </mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="movie.posterPath" alt="poster du film">
    <mat-card-content>
      <p>
      Date de sortie : {{movie.releaseDate}}
      </p>
      <div>Rating {{movie.rating}}</div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>


  <!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
